.main_box {
    background-color: #fefefe;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .sign_in_or_sign_up {
        width: 20%;
        display: flex;
        align-items: center;
    }
}